ul{
list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cadetblue;
}
li{
    float: left;
    text-align: center;
    text-decoration: none;
    display: block;
}
li,a{
    padding: 20px;
}
li,a:hover{
    color: #ffffff;
}
.fruits{
    background-color: rosybrown;
    border: 2px solid black;
    margin: 25px;
    padding: 15px;
    text-align: center;
    color: black;
}

.cars{
    background-color: black;
    border: 2px solid rosybrown;
    margin: 25px;
    padding: 15px;
    text-align: center;
    color: rosybrown;
    font-family: "Abyssinica SIL";

}
.FRUITS{
    background-color: dimgray;
    border: 2px solid palevioletred;
    margin: 25px;
    padding: 15px;
    text-align: center;
    color: plum;
}
#matunda{
    background-color: rosybrown;
    border: 5px dotted black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: aakar;
}
#Magari{
    background-color: dimgray;
    color: white;
    border: 5px solid black;
    margin: 10 px;
    padding: 10 px;
    text-align: center;
    font-family: aakar;
}


